*{
    margin:0;
}
.main_father{
    padding: 8px 12px 0 12px;
    background-color: #F5F6F7;
    display: flex;
    justify-content: space-between;
}

main{

}
aside{
    float: left;
    flex:0 0 300px;/*设置侧边栏宽度*/
    margin-right: 20px;/*右边距*/
}
.blog_aside{
    margin-right: 10px;
    display: block;
    overflow: auto;
    background-color: #F5F6F7 !important;
}
.aside-box{
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: #fff;
}
.user-avatar-container {
    position: relative;
    display: inline-block;
    padding: 10px 0 10px 10px;
    height: 100px;
}
.aside-row{
    display: flex;
    padding: 20px 10px;
    justify-content: space-between; /* 水平间距 */
    align-items: center;/*垂直居中*/
}
.aside-block{
    font:normal bold 40px sans-serif;
    align-self: center;/*垂直居中*/
    margin: auto;
}
.vertical-line {
    border: none;
    height: 50px; /* 根据需要调整高度 */
    width: 1px; /* 根据需要调整宽度 */
    background-color: black; /* 根据需要调整颜色 */
    display: inline-block;
    margin: 0 10px; /* 根据需要调整间距 */
}
.blog_content{
    flex:1; /*主内容占据剩余空间*/
    padding: 0 2px 2px 2px;
    background: #fff;
    border-radius: 2px 2px 0 0;
}

.comment{
    background: #fff;
    border-radius: 2px 2px 0 0;
    padding: 3px 30px;
    margin: 10px 30px 10px 30px;
}
